@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  /* SOLUTIONS STYLES */

  .solutions-title {
    font-size: 56px;
    margin-bottom: 40px;
  }
  .features-list .features-item:not(:last-child) {
    margin-right: 24px;
  }
  .team-members .team-member:not(:last-child) {
    margin-right: 24px;
  }

  .media-footer {
    margin-left: 120px;
  }
  .subscribe-wrap {
    margin-left: 80px;
  }

  .mobile-menu,
  .burger-btn {
    display: none;
  }
  .features-item {
    width: 264px;
  }
}
