@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  /* HEADER */
  header {
    max-width: 100%;
  }
  /* SOLUTIONS STYLES */

  .solutions-title {
    font-size: 56px;
    margin-bottom: 40px;
  }
  .features-list .features-item:not(:last-child) {
    margin-right: 24px;
  }
  .team-members .team-member:not(:last-child) {
    margin-right: 24px;
  }
  .aim-desc {
    font-size: 16px;
    font-weight: 400;
  }
  .media-footer {
    margin-left: 120px;
  }
  .subscribe-wrap {
    margin-left: 80px;
  }

  .mobile-menu,
  .burger-btn {
    display: none;
  }
  .features-item {
    width: 264px;
  }

  .footer-container {
    align-items: baseline;
  }
}
