/* index.html STYLES START*/

@media screen and (min-width: 320px) and (max-width: 479px) {
  :root {
    --brand-color: #4d5ae5;
    --pressed-state: #404bbf;
    --dark-theme: #2e2f42;
    --success-theme: #31d0aa;
    --main-text-color: #434455;
    --suble-text: #8e8f99;
    --accent: #e7e9fc;
    --light-background: #f4f4fd;
    --modal-overlay: #2e2f42;
    --hero-background: #2e2f42;
    --cornflower: #e7e9fc;
    --body-background: white;
    --main-font: "Roboto";
    --customers-icon: #8e8f99;
    --footer-icon: rgba(255, 255, 255, 0.1);
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --modal-background: #2e2f4240;
    --modal-color: #fcfcfc;
  }

  html,
  body {
    overflow-x: hidden;
    /* removes white block for mobile version */
  }
  .container {
    width: 428px;
  }
  /* HEADER */
  .nav-list,
  .auth {
    display: none;
  }

  .main-nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.2;
    /* BURGER */
  }
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 22px;
  }
  .burger-icon {
    stroke: var(--dark-theme);
    transition: stroke, var(--transition-timing-function),
      var(--transition-duration);
  }

  .burger-btn:is(:hover, :focus) {
    stroke: var(--accent);
  }

  /* SOLUTIONS STYLES */
  .solutions {
    margin: 0 auto;
    background-color: var(--dark-theme);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    /* BACKGROUND */
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob/mob-hero.jpg);
    background-size: 100%;
  }
  .solutions-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
  }

  /* FEATURES */

  .features-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .features-item {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .features-icon {
    display: none;
  }
  .aim {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .aim-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .aim-desc {
    font-weight: 500;
    width: 396px;
    margin-bottom: 72px;
  }
  .aim-desc:last-child {
    margin-bottom: 0;
  }
  .activities {
    display: none;
  }

  /* TEAM */
  .team-members {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 45px;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 128px;
  }
  .team-member {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .team-card {
    padding: 32px 8px;
  }
  .team-desc {
    margin-bottom: 8px;
  }

  /* CUSTOMERS */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 0;
    row-gap: 72px;
  }
  .customers-link {
    width: 190px;
    height: 88px;
  }
  /* FOOTER */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .footer-logo {
    margin-bottom: 16px;
  }
  .media-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .subscribe-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
  .form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-input {
    width: 398px;
    margin: 0 auto;
  }
  .subscribe-btn {
    margin-top: 16px;
    width: 165px;
    position: relative;
  }
  .send-icon {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }

  /* MOBILE MENU */
  .mobile-menu-open {
    border: none;
    background-color: var(--body-background);
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    z-index: 1000;
    background-color: var(--body-background);
    box-shadow: 0 0 0 100vmax rgb(red, green, blue);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity, var(--transition-timing-function),
      var(--transition-duration);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color var(--transition-duration-and-fun);
  }
  .close-btn:is(:hover, :after) {
    background-color: var(--pressed-state);
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--primary-color);
    transition: color var(--transition-duration-and-fun);
  }
  .menu-link:is(:hover, :focus) {
    color: var(--pressed-state);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  .contacts-link {
    color: var(--pressed-state);
  }
  .contacts-link {
    color: var(--hero-background);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .contacts-link:is(:hover, :focus) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--brand-color);
  }
  .mob-icons {
    margin-top: 48px;
    display: flex;
    gap: 56px;
  }
  .icon-mob {
    fill: var(--body-background);
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  /* MODAL */
}
