/* index.html STYLES START*/
@media screen and (min-width: 320px) and (max-width: 481px) {
  .container {
    width: 300px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  /* HEADER */
  .nav-list,
  .auth {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.2;
  }
  /* BURGER */
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 22px;
  }
  .burger-icon {
    stroke: var(--dark-theme);
    transition: stroke, var(--transition-timing-function),
      var(--transition-duration);
  }

  .burger-btn:is(:hover, :focus) {
    stroke: var(--accent);
  }

  /* SOLUTIONS STYLES */
  .solutions {
    width: 100%;
    margin: 0 auto;
    background-color: var(--dark-theme);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    /* BACKGROUND */
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob/mob-hero.jpg);
    background-size: cover;
  }
  .solutions-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
  }

  /* FEATURES */

  .features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .features-icon {
    display: none;
  }
  .aim {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .aim-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .aim-desc {
    font-weight: 500;
    width: 100%;
    margin-bottom: 72px;
  }
  .aim-desc:last-child {
    margin-bottom: 0;
  }
  .activities {
    display: none;
  }

  /* TEAM */
  .team-members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 128px;
  }
  .team-member {
    margin-right: 0;
    margin-bottom: 72px;
    width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-member:last-child {
    margin-bottom: 0;
  }

  .team-card {
    padding: 32px 8px;
  }
  .team-desc {
    margin-bottom: 8px;
  }

  /* CUSTOMERS */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin: 0;
    row-gap: 72px;
  }

  .customers-item {
    width: calc((100% - 16px) / 2);
  }
  .customers-link {
    width: 100%;
  }
  /* FOOTER */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .footer-logo {
    margin-bottom: 16px;
  }
  .media-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .subscribe-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-input {
    margin: 0 auto;
  }
  .subscribe-btn {
    display: flex;
    align-items: center;
    margin-top: 16px;
    width: 165px;
  }
  .send-icon {
    margin-left: 16px;
  }

  /* MOBILE MENU */
  .mobile-menu-open {
    border: none;
    background-color: var(--body-background);
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    z-index: 1000;
    background-color: var(--body-background);
    box-shadow: 0 0 0 100vmax rgb(red, green, blue);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity, var(--transition-timing-function),
      var(--transition-duration);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .close-btn {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color, var(--transition-timing-function),
      var(--transition-duration);
  }
  .close-btn:is(:hover, :after, :focus) {
    background-color: var(--pressed-state);
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--primary-color);
    transition: color var(--transition-duration-and-fun);
  }
  .menu-link:is(:hover, :focus) {
    color: var(--pressed-state);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  .contacts-link {
    color: var(--pressed-state);
  }
  .contacts-link {
    color: var(--hero-background);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .mob-icons {
    width: 100%;
    margin-top: 48px;
    display: flex;
    gap: 30px;
  }
  .icon-mob {
    fill: var(--body-background);
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .modal {
    max-width: 300px;
    padding: 40px 10px 10px 10px;
  }
  .btn-close {
    top: 10px;
    right: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  /* HEADER */
  .auth {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.2;
  }
  /* BURGER */
  .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 22px;
  }
  .burger-icon {
    stroke: var(--dark-theme);
    transition: stroke, var(--transition-timing-function),
      var(--transition-duration);
  }

  .burger-btn:is(:hover, :focus) {
    stroke: var(--accent);
  }

  /* SOLUTIONS STYLES */
  .solutions {
    width: 100%;
    margin: 0 auto;
    background-color: var(--dark-theme);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    /* BACKGROUND */
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob/mob-hero.jpg);
    background-size: cover;
  }
  .solutions-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    max-width: 100%;
  }

  /* FEATURES */

  .features-list {
    display: flex;
    gap: 72px;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .aim-title {
    text-align: center;
  }
  .aim-desc {
    text-align: center;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 17px;
  }
  .subscribe-input {
    min-width: 420px;
  }
  .modal {
    margin-block: 20px;
  }
}

.features-icon {
  display: none;
}
.aim {
  padding-top: 96px;
  padding-bottom: 96px;
}
.aim-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.aim-desc {
  font-weight: 500;
  width: 100%;
  margin-bottom: 72px;
}
.aim-desc:last-child {
  margin-bottom: 0;
}
.activities {
  display: none;
}

/* TEAM */
.team-members {
  display: flex;
  margin: 0 auto;
}
.team {
  padding-top: 96px;
  padding-bottom: 128px;
}
.team-member {
  margin-bottom: 72px;
  width: 264px;
}

.team-card {
  padding: 32px 8px;
}
.team-desc {
  margin-bottom: 8px;
}

/* CUSTOMERS */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.customers-item {
  width: calc((100% - 16px) / 2);
}
.customers-link {
  width: 100%;
}
/* FOOTER */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-logo {
  margin-bottom: 16px;
}
.media-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.subscribe-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-input {
  margin: 0 auto;
  width: 300px;
  height: 40px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.send-icon {
  margin-left: 16px;
}
.modal {
  width: 408px;
  height: 586px;
}
/* MOBILE MENU */
.mobile-menu-open {
  border: none;
  background-color: var(--body-background);
}
.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  z-index: 1000;
  background-color: var(--body-background);
  box-shadow: 0 0 0 100vmax rgb(red, green, blue);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity, var(--transition-timing-function),
    var(--transition-duration);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-btn {
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color, var(--transition-timing-function),
    var(--transition-duration);
}
.close-btn:is(:hover, :after) {
  background-color: var(--pressed-state);
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: var(--primary-color);
  transition: color var(--transition-duration-and-fun);
}
.menu-link:is(:hover, :focus) {
  color: var(--pressed-state);
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.contacts-link {
  color: var(--pressed-state);
}
.contacts-link {
  color: var(--hero-background);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.contacts-link:hover {
  color: var(--pressed-state);
}

.mob-icons {
  margin-top: 48px;
  display: flex;
  gap: 30px;
}
.icon-mob {
  fill: var(--body-background);
  background-color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon-mob:hover {
  fill: var(--body-background);
  background-color: var(--success-theme);
}
/* PORTFOLIO MEDIA STYLES */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .filter-list {
    display: grid;
    align-items: center;
    grid-auto-flow: column dense;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(2, 100px) repeat(1, 100px);
  }

  .filter-item > .btn {
    padding: 0px;
  }

  .filter-list .filter-item:not(:first-child) {
    margin: 3px;
  }
}
