@media screen and (min-width: 768px) and (max-width: 1200) {
  .container {
    width: 768px;
  }

  /* SOLUTIONS STYLES */
  .solutions-title {
    font-size: 56px;
    margin-bottom: 40px;
  }

  .mobile-menu,
  .burger-btn {
    display: none;
  }
}
