@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 768px;
  }
  /* HEADER */

  .auth-link {
    font-size: 12px;
    padding: 0;
  }
  .logo {
    margin-right: 0;
  }
  .nav-list {
    margin-left: 123px;
    margin-right: 118px;
  }
  .auth {
    display: flex;
    flex-direction: column;
  }
  .main-address {
    display: flex;
  }
  .auth-item:last-child {
    margin-left: 0;
  }
  /* SOLUTIONS STYLES */
  .solutions-title {
    font-size: 56px;
    margin-bottom: 40px;
  }

  .nav-list,
  .burger-btn {
    display: none;
  }
  .main-nav {
    padding: 0;
  }
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.2;
    /* BURGER */
  }
  /* SOLUTIONS STYLES */
  .solutions {
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 108px;
    /* BACKGROUND */
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab/tab-hero.jpg);
    background-size: 100%;
  }
  .solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
    width: 496px;
  }

  /* FEATURES */

  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 356px;
    height: 120px;
  }
  .features-icon {
    display: none;
  }
  .aim {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .aim-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .aim-desc {
    font-weight: 500;
  }

  .activities {
    display: none;
  }

  /* TEAM */
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 128px;
  }

  .team-card {
    padding: 32px 8px;
  }
  .team-desc {
    margin-bottom: 8px;
  }

  /* CUSTOMERS */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    margin: 0;
    row-gap: 72px;
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }
  /* FOOTER */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo-footer {
    display: flex;
    flex-direction: column;
    margin-left: 108px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-logo {
    margin-bottom: 16px;
  }
  .media-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 108px;
  }
  .subscribe-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 108px;
  }
  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
  .subscribe-input {
    width: 264px;
    margin: 0 auto;
  }
  .subscribe-btn {
    display: flex;
    align-items: center;
    width: 165px;
  }
  .send-icon {
    margin-left: 16px;
  }
  /* MOBILE MENU */
  .mobile-menu-open {
    border: none;
    background-color: var(--body-background);
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    z-index: 1000;
    background-color: var(--body-background);
    box-shadow: 0 0 0 100vmax rgb(red, green, blue);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity, var(--transition-timing-function),
      var(--transition-duration);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .close-btn {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color, var(--transition-timing-function),
      var(--transition-duration);
  }
  .close-btn:is(:hover, :after) {
    background-color: var(--pressed-state);
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    color: var(--primary-color);
    transition: color var(--transition-duration-and-fun);
  }
  .menu-link:is(:hover, :focus) {
    color: var(--pressed-state);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  .contacts-link {
    color: var(--pressed-state);
  }
  .contacts-link {
    color: var(--hero-background);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .contacts-link:is(:hover, :focus) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--brand-color);
  }
  .mob-icons {
    margin-top: 48px;
    display: flex;
    gap: 56px;
  }
  .icon-mob {
    fill: var(--body-background);
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
